<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!---Default Rate Limit set to 10, if ApiKey does not exists in Config-->
    <add key="DefaultRateLimit" value="10" />

    <!---Rate Limit by AppId-->
    <add key="TEST100" value="15" />
    <add key="TEST101" value="20" />
    <add key="TEST102" value="6" />

    <!--Default Cache Expiry-->
    <add key="DefaultCacheExpiry" value="10" />

    <!--Penalty if AppId exceeds the limit -->
    <add key="PenaltyInMinutes" value="5" />
  </appSettings>
  
</configuration>